.body {
  background:#817f7f; 
  background-repeat: no-repeat;
  background-size: cover;
}

.NavContainer{
  background-color: black;
  margin-bottom: 50px;
}
.bannerImg{
border-radius: 20px;
  height: 500px;
  width: 1000px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
background-position-y: center;
color: white;
padding: 20px;

}


.details{
  color: white;
  padding: 10px;
}

.dataContainer{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3,1fr);
  
}

.dataSubContainer{
  box-shadow: rgba(230, 215, 215, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 10px;
  color: white;
  background: #1F1C2C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.popUp{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.867);
  display: flex;
  justify-content: center;
}

.popUp-inner{
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: rgb(80, 94, 94);
}


.filterContainer{
  margin-bottom: 50px;

}

.input{
  border: 2px solid black;
  padding: 10px;
}

.searchButton{
  padding: 10px;
  margin-left: 10px;

}
.searchButton:hover{
  color: white;
  background-color: black;
  cursor: pointer;
}

.popUp-inner >h3{
  color: white;
}

h3>span{
  color: black;
}


.pagination{
  display: flex;
  gap: 20px;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px;
  width: 200px;
  margin: auto;
}

ul {
  list-style-type: none;
}

li{
  border: 2px solid black;
  cursor: pointer;
}

.page-item:active{
  background-color: blue;
}

.dataName{
  width: 200px;
  margin: auto;
  top: 0;

}




body:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  }

.dataName>h1 {
display: inline-block;
color: white;
font-family: 'Righteous', serif;
font-size: 50px;
text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
}
.dataName>h1:after {
  position: absolute;
  top: .06em; left: .06em;
  z-index: -1;
  text-shadow: none;
  background-image:
    linear-gradient(
      45deg,
      transparent 45%,
      hsla(48,20%,90%,1) 45%,
      hsla(48,20%,90%,1) 55%,
      transparent 0
      );
  background-size: .05em .05em;

  -webkit-text-fill-color: transparent;

  animation: shad-anim 15s linear infinite;
  }


  @media only screen and (max-width: 1000px) {
    .bannerImg {
      width: 800px;
      height: 400px;
    }
   

  }

  @media only screen and (max-width: 800px) {
    .bannerImg {
      width: 600px;
      height: 300px;
    }
    .bannerImg>h1{
   
      font-size: 30px;
    }

    .popUp-inner{
      position: relative;
      padding: 32px;
      width: 400px;
     
  
    }


 

  }


  @media only screen and (max-width: 600px) {
    .bannerImg {
      width: 400px;
      height: 200px;

    }
    .bannerImg>h1{
     
      font-size: 20px;
    }

    .dataContainer{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }


    
    .popUp-inner{
      position: relative;
      padding: 32px;
      width: 350px;
     
  
    }

  }


  @media only screen and (max-width: 400px) {
    .bannerImg {
      width: 280px;
      height: 160px;
    }
    .bannerImg>h1{
      font-size: 20px;
    }

    .dataContainer{
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }

    .popUp-inner{
      position: relative;
      padding: 32px;
      width: 250px;
     
  
    }
  }